<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net451" />
  <package id="PacketDotNet" version="0.16.0" targetFramework="net472" />
  <package id="SharpPcap" version="4.5.0" targetFramework="net472" />
  <package id="SimpleInjector" version="4.3.0" targetFramework="net452" />
</packages>